/* variables -- Colors */
/* variables - colors - text */
/* variables - colors - backgrounds */
/* Functions */
/* placeholders */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");
h1,
h2,
h3,
p, .home--two {
  margin: 0 6.4vw;
}

@media screen and (min-width: 600px) {
  h1,
  h2,
  h3,
  p, .home--two {
    margin: 0 12.76vw;
  }
}

@media screen and (min-width: 1000px) {
  h1,
  h2,
  h3,
  p, .home--two {
    margin: 0 31.14vw;
  }
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  color: inherit;
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style-type: none;
}

/* Typography */
body {
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
}

h1,
h2,
h3 {
  color: #28283e;
  font-weight: 900;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.75rem;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

h2,
h3 {
  font-size: 2rem;
  line-height: 2.25rem;
}

@media screen and (min-width: 600px) {
  h2,
  h3 {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}

p {
  color: #86869c;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;
}

@media screen and (min-width: 1000px) {
  p {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
}

/* Buttons */
.btn {
  background-color: #4d96a8;
  border-radius: 29px;
  color: white;
  display: block;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.625rem;
  padding: 0.75rem 2.5rem 1.5625rem 2.5rem;
  margin: 0 auto;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #72c1d5;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 2px solid #b28cde;
}

.btn span {
  color: #90e4f9;
  margin-left: 0.3125rem;
}

.btn--dark {
  background-color: #845eb0;
}

.btn--dark:hover {
  background-color: #b28cde;
}

.btn--dark span {
  color: #d9b8ff;
}

.pin {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.pin .line {
  border-right: 1px solid rgba(134, 134, 156, 0.25);
  display: inline-block;
  height: 84px;
  width: 1px;
}

.pin .circle {
  background-color: #fafafa;
  border: 1px solid rgba(134, 134, 156, 0.25);
  border-radius: 50%;
  display: inline-block;
  height: 56px;
  width: 56px;
}

.pin .circle p {
  margin: 15px 19px 20px 19px;
}

/* Header */
header {
  overflow: hidden;
}

@media screen and (min-width: 1000px) {
  header {
    align-items: center;
    column-gap: 2.5rem;
    display: grid;
    grid-template-areas: '. A .' 'B C D';
    grid-template-columns: 31.31vw 37.37vw 31.31vw;
    justify-content: center;
  }
}

header .logo {
  background-image: url("../assets/logo.svg");
  background-size: cover;
  height: 1.75rem;
  margin: 3rem auto 3.5rem auto;
  width: 7.375rem;
}

@media screen and (min-width: 600px) {
  header .logo {
    margin: 3.1875rem auto 4.125rem auto;
  }
}

@media screen and (min-width: 1000px) {
  header .logo {
    grid-area: A;
  }
}

@media screen and (min-width: 1000px) {
  header .one {
    grid-area: C;
    width: 37.37vw;
  }
}

header .hero--left {
  background-image: url("../assets/tablet/image-hero.png");
  background-position: -5vw center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40.8vw;
  width: 110vw;
}

@media screen and (min-width: 600px) {
  header .hero--left {
    height: 49.54vw;
  }
}

@media screen and (min-width: 1000px) {
  header .hero--left {
    background-image: url("../assets/desktop/image-hero-left.png");
    background-position: center;
    grid-area: B;
    height: 24.78vw;
    width: 31.31vw;
  }
}

@media screen and (min-width: 1000px) {
  header .hero--right {
    background-image: url("../assets/desktop/image-hero-right.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 24.78vw;
    grid-area: D;
    width: 31.31vw;
  }
}

header h1 {
  margin-top: 3rem;
}

@media screen and (min-width: 600px) {
  header h1 {
    margin-top: 4.5rem;
  }
}

@media screen and (min-width: 1000px) {
  header h1 {
    margin: 0 3rem;
  }
}

header p {
  margin-bottom: 2.3125rem;
  margin-top: 1rem;
}

@media screen and (min-width: 600px) {
  header p {
    margin-top: 0.5rem;
  }
}

@media screen and (min-width: 1000px) {
  header p {
    margin: 0;
    margin-bottom: 2.1875rem;
    margin-top: 0.8125rem;
  }
}

header .btn-container {
  align-items: center;
  display: grid;
  justify-content: center;
  row-gap: 1rem;
}

@media screen and (min-width: 600px) {
  header .btn-container {
    column-gap: 1rem;
    grid-template-columns: auto auto;
  }
}

footer {
  position: relative;
  margin-top: -1.6875rem;
  padding-bottom: 4.5rem;
  padding-top: 5.75rem;
}

@media screen and (min-width: 600px) {
  footer {
    padding-bottom: 4.125rem;
  }
}

@media screen and (min-width: 1000px) {
  footer {
    align-items: center;
    display: flex;
    padding-bottom: 7.3125rem;
    padding-top: 7.25rem;
    justify-content: space-evenly;
  }
}

footer h2 {
  color: white;
  margin-top: 5.75rem;
}

@media screen and (min-width: 1000px) {
  footer h2 {
    margin: 0;
    text-align: left;
    width: 21.875rem;
  }
}

footer p {
  color: white;
  margin-bottom: 2.1875rem;
  margin-top: 1.0625rem;
}

@media screen and (min-width: 600px) {
  footer p {
    margin-bottom: 2.6875rem;
    margin-top: 1.4375rem;
  }
}

@media screen and (min-width: 1000px) {
  footer p {
    margin: 0;
    text-align: left;
    width: 21.875rem;
  }
}

footer::after {
  content: "";
  background-image: url("../assets/mobile/image-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

@media screen and (min-width: 600px) {
  footer::after {
    background-image: url("../assets/tablet/image-footer.jpg");
  }
}

@media screen and (min-width: 1000px) {
  footer::after {
    background-image: url("../assets/desktop/image-footer.jpg");
  }
}

footer::before {
  content: "";
  background-color: #4d96a8;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

footer .btn-container {
  align-items: center;
  display: grid;
  justify-content: center;
  row-gap: 1rem;
}

.home {
  margin-top: 4rem;
}

@media screen and (min-width: 600px) {
  .home {
    margin-top: 5rem;
  }
}

@media screen and (min-width: 1000px) {
  .home {
    margin-top: 7.3125rem;
  }
}

.home--two {
  align-items: center;
  display: grid;
  column-gap: 1.5rem;
  grid-template-columns: auto auto;
  justify-content: center;
  margin-top: 4rem;
  row-gap: 1.5rem;
}

@media screen and (min-width: 600px) {
  .home--two {
    column-gap: 0.6875rem;
    grid-template-columns: repeat(4, auto);
  }
}

@media screen and (min-width: 1000px) {
  .home--two {
    column-gap: 1.875rem;
  }
}

.home--two .image {
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 8px;
  height: 8.9375rem;
  width: 9.4375rem;
}

@media screen and (min-width: 600px) {
  .home--two .image {
    height: 9.75rem;
    width: 10.25rem;
  }
}

@media screen and (min-width: 1000px) {
  .home--two .image {
    height: 15.125rem;
    width: 15.9375rem;
  }
}

.home--two--A {
  background-image: url("../assets/desktop/image-woman-in-videocall.jpg");
}

.home--two--B {
  background-image: url("../assets/desktop/image-women-videochatting.jpg");
}

.home--two--C {
  background-image: url("../assets/desktop/image-men-in-meeting.jpg");
}

.home--two--D {
  background-image: url("../assets/desktop/image-man-texting.jpg");
}

.home--three {
  margin-top: 3.75rem;
}

@media screen and (min-width: 600px) {
  .home--three {
    margin-top: 2.75rem;
  }
}

@media screen and (min-width: 1000px) {
  .home--three {
    margin-top: 4.75rem;
  }
}

.home--three h2 {
  color: #4d96a8;
  font-size: 1rem;
  letter-spacing: 4px;
  line-height: 1.625rem;
  text-transform: uppercase;
}

.home--three h3 {
  margin-top: 2.0625rem;
}

@media screen and (min-width: 600px) {
  .home--three h3 {
    margin-top: 1.5625rem;
  }
}

.home--three p {
  margin-bottom: 4.3125rem;
  margin-top: 1.5625rem;
}

@media screen and (min-width: 600px) {
  .home--three p {
    margin-bottom: 5.3125rem;
    margin-top: 1.4375rem;
  }
}

@media screen and (min-width: 1000px) {
  .home--three p {
    margin-bottom: 4.6875rem;
  }
}
/*# sourceMappingURL=main.css.map */