@import 'base/reset';

/* variables -- Colors */
$light-grayish-blue: hsla(240, 10%, 57%, 1);
$purple: hsla(268, 34%, 53%, 1);
$very-dark-blue: hsla(240, 21%, 20%, 1);
$white: hsla(0, 0%, 100%, 1);

/* variables - colors - text */
$button-text-color: $white;
$primar-heading-color: $very-dark-blue;
$primary-text-color: $light-grayish-blue;

/* variables - colors - backgrounds */
$button-back-color: $purple;

/* Functions */
@function toRem($pixel) {
    @return ($pixel/16) + rem;
}

/* placeholders */
%margin {
    margin: 0 6.4vw;
}


/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');


body {
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
}

h1,
h2,
h3,
p {
    @extend %margin;
}

h1,
h2,
h3 {
    color: $primar-heading-color;
    font-weight: 900;
}

h1 {
    font-size: toRem(40); 
    line-height: toRem(44);
}

h2,
h3 {
    font-size: toRem(32);
    line-height: toRem(36);
}

p{
    color: $primary-text-color;
    font-size: toRem(16);
    font-weight: 500;
    line-height: toRem(26);
}

/* Header */ 
header {
    .logo {
        background-image: url('../assets/logo.svg');
        background-size: cover; 
        height: toRem(28);
        margin: toRem(48) auto toRem(56) auto;
        width: toRem(118);
    }

    .hero {
        &--left {
            background-image: url('../assets/tablet/image-hero.png');
            background-position: -15px center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 40.8vw; 
            width: 100vw;
        }
    }

    h1 {
        margin-top: toRem(48);
    }

    p {
        margin-bottom: toRem(37);
        margin-top: toRem(16);
        
    }

    .btn {
        margin: 0 auto toRem(16) auto;
    }
}
/* Buttons */
.btn {
    background-color: $button-back-color;
    color: $button-text-color;
    display: inline-block;
    font-family: 'Red Hat Display', sans-serif;
    font-size: toRem(16);
    font-weight: 900;
    line-height: toRem(26);  
    text-transform: uppercase;
}