.home {
    margin-top: toRem(64); 

    @include media-md {
        margin-top: toRem(80);
    }
 
    &--two {
        @extend %margin;
        align-items: center;
        display: grid;
        column-gap: toRem(24);
        grid-template-columns: auto auto;
        justify-content: center;
        margin-top: toRem(64);
        row-gap: toRem(24);

        @include media-md {
            column-gap: toRem(11);
            grid-template-columns: repeat(4, auto);
            margin-top: toRem(67) 0;
        }
 
        .image {
            background-size: contain;
            background-repeat: no-repeat;
            border-radius: 8px;
            height: toRem(143);
            width: toRem(151);

            @include media-md {
                height: toRem(156);
                width: toRem(164);
            }
        }
 
        &--A {
           background-image: url('../assets/desktop/image-woman-in-videocall.jpg'); 
        }
 
        &--B {
            background-image: url('../assets/desktop/image-women-videochatting.jpg');
        }
 
        &--C {
            background-image: url('../assets/desktop/image-men-in-meeting.jpg');
        }
 
        &--D {
            background-image: url('../assets/desktop/image-man-texting.jpg');
        }
    }
 
    &--three {
        margin-top: toRem(60);

        @include media-md {
            margin-top: toRem(44);
        }
 
        h2 {
            color: $text-highlight;
            font-size: toRem(16);
            letter-spacing: 4px;
            line-height: toRem(26);
            text-transform: uppercase;

        }
 
        h3 {
            margin-top: toRem(33);

            @include media-md {
                margin-top: toRem(25);
            }
        }
 
        p {
            margin-bottom: toRem(69);
            margin-top: toRem(25);

            @include media-md {
                margin-bottom: toRem(85);
                margin-top: toRem(23);
            }
        }
    }
 }