.pin {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .line {
        border-right: 1px solid hsla(240, 10%, 57%, 0.25);
        display: inline-block;
        height: 84px;
        width: 1px;
    }

    .circle {
        background-color: hsla(0, 0%, 98%, 1);
        border: 1px solid hsla(240, 10%, 57%, 0.25);
        border-radius: 50%;
        display: inline-block;
        height: 56px;
        width: 56px;

        p {
            margin: 15px 19px 20px 19px;
        }
    }
}