// Typography
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');

body {
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
}

h1 {
    color: hsla(240, 21%, 20%, 1);
    font-size: toRem(40);
    line-height: toRem(44);
}

h2,
h3 {
    color: hsla(240, 21%, 20%, 1);
    font-size: toRem(32);
    line-height: toRem(36);
}

p{
    color: hsla(240, 10%, 57%, 1);
    font-size: toRem(16);
    line-height: toRem(26);
}