/* Header */ 
header {

    overflow: hidden;

    @include media-lg {
        align-items: center;
        column-gap: toRem(40);
        display: grid;
        grid-template-areas: '. A .' 'B C D';
        grid-template-columns: 31.31vw 37.37vw 31.31vw;
        justify-content: center;
    }
    
    .logo {
        background-image: url('../assets/logo.svg');
        background-size: cover; 
        height: toRem(28);
        margin: toRem(48) auto toRem(56) auto;
        width: toRem(118);

        @include media-md {
            margin: toRem(51) auto toRem(66) auto;
        }

        @include media-lg {
            grid-area: A;
        }
    }

    .one {
        @include media-lg {
            grid-area: C;
            width: 37.37vw;
        }
    }

    .hero {
        &--left {
            background-image: url('../assets/tablet/image-hero.png');
            background-position: -5vw center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 40.8vw; 
            width: 110vw;

            @include media-md {
                height: 49.54vw;
            }

            @include media-lg {
                background-image: url('../assets/desktop/image-hero-left.png');
                background-position: center;
                grid-area: B;
                height: 24.78vw;
                width: 31.31vw;
            }
        }

        &--right {
            @include media-lg {
                background-image: url('../assets/desktop/image-hero-right.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                height: 24.78vw;
                grid-area: D;
                width: 31.31vw;
            }
        }
    }

    h1 {
        margin-top: toRem(48);

        @include media-md {
            margin-top: toRem(72);
        }

        @include media-lg {
            margin: 0 toRem(48);
        }
    }

    p {
        margin-bottom: toRem(37);
        margin-top: toRem(16);
        
        @include media-md {
            margin-top: toRem(8);
        }

        @include media-lg {
            margin: 0;
            margin-bottom: toRem(35);
            margin-top: toRem(13);
        }
    }

    .btn-container {
        align-items: center;
        display: grid;
        justify-content: center;
        row-gap: toRem(16);

        @include media-md {
            column-gap: toRem(16);
            grid-template-columns: auto auto;
        }
        
    }
}